:root {
    --bs-link-color: black;
    --main-color: #a17594;
    --sec-color: #ffcfd2;
}

body {
    background-color: var(--main-color);
}

/* Nav */
.custom-dropdown {
    z-index: 2;
}
.custom-dropdown-menu {
    background-color: white;
    padding: 5px;
}
.custom-dropdown-item {
    background-color: var(--sec-color);
    font-size: 1.5rem;
}
.custom-dropdown-item:focus, 
.custom-dropdown-item:hover {
    color: var(--bs-link-color);
    background-color: var(--main-color);
}
.dropdown-toggle::after {
    display: none;
}
.overlay {
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Banner */
.custom-jumbotron-fluid {
    --bs-border-color: black;
    --bs-border-width: 5px;
    background-image: url(../images/banner.webp);
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover
}
.banner-container {
    bottom: 50px;
}
.banner {
    background-color: var(--sec-color);
    border-radius: 100%;
    padding: 10px;
    height: 380px;
}

header,
footer {
    background: var(--bg-color);
}
.btn,
.nav-link {
    --bs-btn-bg: #ffcfd2;
    --bs-btn-border-color: black;
    --bs-btn-hover-bg: #c799b9;
    --bs-btn-active-bg: #a17594;
    --bs-btn-color: black;

    --bs-nav-link-hover-color: black;
    --bs-nav-link-hover-bg: #ffcfd2;
    --bs-btn-hover-border-color: #ffcfd2;
    --bs-btn-active-border-color: #ffcfd2;
}

/* Footer */
.footer-nav {
    justify-content: space-around;
}
.custom-nav-item a {
    background-color: var(--sec-color);
    border: 2px solid;
}


/* :root {
    --primary-color: #553E4E;
    --secondary-color: #9EBC9E;
    --tertiaty-color: #FFAFC5;
    --card-color: #202a44;
}

html {
    position: relative;
    min-height: 100%;
} 

body{
    background-color: var(--primary-color);
    margin: 0 0 20px; /* bottom = footer height
}

/* Header Section */
/* Nav
.custom-nav{
    background-color: var(--secondary-color);
    height: 4em;
    align-content: center;
}
.custom-nav-item{
    background-color: var(--primary-color);
    margin: 5px;
    height: 2em;
    width: 2em;
}
.custom-nav .show>.nav-link {
    color: #fff;
    background-color: var(--primary-color);
}
.custom-dropdown-menu{
    background-color: #D9D9D9;
    padding-left: 12px;
    padding-right: 12px;
}
.custom-dropdown-item{
    background-color: var(--tertiaty-color);
    margin-top: 5px;
    font-size: 2rem;
}
.cta-dropdown-item{
    background-color: var(--primary-color);
    color: var(--tertiaty-color);
    margin-top: 5px;
    font-size: 2.5rem;
}
.custom-dropdown-item:focus, 
.custom-dropdown-item:hover, 
.cta-dropdown-item:focus, 
.cta-dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: var(--secondary-color);
}

/* Jumbotron 
.custom-jumbotron{
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Footer 
footer{
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.custom-footer-btn{
    margin: 10px;
    background-color: #D9D9D9;
}
.custom-footer-btn a{
    color: black;
    font-weight: 700;
}
.custom-footer-btn:hover {
    box-shadow: 4px 4px 2px 1px var(--primary-color);
}
.custom-footer-btn a:hover {
    color: var(--primary-color);
    text-decoration: none;
} */