:root {
    --primary-color: #553E4E;
    --secondary-color: #9EBC9E;
    --tertiaty-color: #FFAFC5;
    --card-color: #202a44;
}

body{
    background-color: var(--primary-color);
}

/* Header Section */
/* Nav*/
.custom-nav{
    background-color: var(--secondary-color);
}
.custom-nav-item{
    background-color: var(--primary-color);
    margin: 5px;
    height: 2em;
    width: 2em;
}
.custom-nav .show>.nav-link {
    color: #fff;
    background-color: var(--primary-color);
}
.custom-dropdown-menu{
    background-color: #D9D9D9;
    padding-left: 12px;
    padding-right: 12px;
}
.custom-dropdown-item{
    background-color: var(--tertiaty-color);
    margin-top: 5px;
    font-size: 2rem;
}
.cta-dropdown-item{
    background-color: var(--primary-color);
    color: var(--tertiaty-color);
    margin-top: 5px;
    font-size: 2.5rem;
}
.custom-dropdown-item:focus, 
.custom-dropdown-item:hover, 
.cta-dropdown-item:focus, 
.cta-dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: var(--secondary-color);
}